POSTGRES_PORT=5433
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET=your_jwt_secret

REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_SSL=false
REDIS_TIMEOUT=2000
REDIS_TTL=3600

; REDIS_HOST=loved-stingray-37837.upstash.io
; REDIS_PORT=6379
; REDIS_PASSWORD=AZPNAAIjcDEwOTE2NTgxMjY4MDY0OTZjOGU2MDQ4MTc4YzhkMzNiYnAxMA
; REDIS_DB=0
; REDIS_SSL=true
; REDIS_TIMEOUT=2000
; REDIS_TTL=3600